---
import type { Message } from "../types";

interface Props {
  message?: Message;
}

const { message } = Astro.props as Props;
---

<li class="bg-white p-4 rounded-lg shadow-sm border border-gray-100">
  <div class="flex justify-between items-start">
    <p class="text-gray-800 mb-3" data-content="content">
      {message?.content}
    </p>
    <p class="text-gray-500 text-sm" data-content="createdAt">
      {message?.createdAt.toLocaleString()}
    </p>
  </div>
  <form
    method="post"
    action={`/api/messages/${message?.id}`}
    class="flex justify-end gap-2"
    data-content="actions-form"
    data-message-id={message?.id}
  >
    <button
      name="action"
      value="like"
      class="text-sm bg-gray-100 hover:bg-gray-200 text-gray-700 px-3 py-1 rounded-md transition-colors flex items-center gap-1 cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
        ></path>
      </svg>
      <span data-content="likes">
        {message?.likes} Like{message?.likes === 1 ? "" : "s"}
      </span>
    </button>
    <button
      name="action"
      value="delete"
      class="text-sm bg-red-50 hover:bg-red-100 text-red-600 px-3 py-1 rounded-md transition-colors flex items-center gap-1 cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
        ></path>
      </svg>
      Delete
    </button>
  </form>
</li>
